@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* font-family: 'Anonymous Pro', monospace;   */
  /* font-family: 'tradegothiclt-bold', sans-serif; */
}

.css-background > div{
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
  background: url(./assets/imagens/download.gif);
  overflow-y: auto ;
}

/* .css-background {
  background: -webkit-linear-gradient(top, rgba(36,94,109,0) 0%,rgba(36,94,109,0.7) 71%,rgba(36,94,109,1) 100%);
  background: linear-gradient(to bottom, rgba(36,94,109,0) 0%,rgba(36,94,109,0.7) 71%,rgba(36,94,109,1) 100%);
} */

.css-quest {
  display: flex;
}

.css-main-area {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.css-card-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-top: auto; */
  width: 100%;
}

.css-area-quest {
  padding: 20px 40px;
  width: 50%; 
  box-shadow:  1px 1px 5px #b1b1b1;
  background: black;
  color:white;
}

.css-area-quest p {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 30px;
}

.css-back-button {
  background: transparent;
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  width: 200px;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.3s;
}

.css-back-button:hover {
  background: #000000c4;
  color: white;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.css-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 20px;
}

.f-12 {
  font-size: 12px!important;
}

.f-20 {
  font-size: 20px!important;
}

.mb-0 {
  margin-bottom: 0px!important;
}

.css-footer div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.css-footer a {
  text-decoration: none;
  color: black;
}

.css-footer a:hover {
  text-decoration: underline;
}

.mx-2 {
  margin-left: 20px;
  margin-right: 20px;
}


/* checkbox */

.css-area-checkbox {
  display: flex;
  flex-direction: row;
}

.css-area-checkbox input {
  position: absolute;
  width: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

.css-area-checkbox label {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid white;
  background-color: #000;
  overflow: hidden;
  cursor: pointer;
}

.css-area-checkbox input:focus + label {
  outline: 2px solid #406f99;
}

.css-area-checkbox input:checked + label::before {
  content: '✔';
  color: white;
}

.css-area-checkbox p {
  margin-left: 10px;
}






.css-movies-area {
  width: 50%; 
}

.css-movies-area div {
  background: black;
  color: white;
  padding: 20px 40px;
  box-shadow:  1px 1px 5px #b1b1b1;
  margin-bottom: 10px;
}


.css-left-name {
  position: absolute;
  font: 20px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  height: 100%;
  width: 100px;
  background: black;
  box-shadow:  1px 1px 5px #b1b1b1;
  /* border-right: 20px dashed white;
    border-left: 20px dashed white; */
}

.css-right-name {
  position: absolute;
  font: 20px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  height: 100%;
  width: 100px;
  background: black;
  right: 0;
  box-shadow:  1px 1px 5px #b1b1b1;
  /* border-right: 20px dashed white;
    border-left: 20px dashed white; */
}




/* 
.css-icon {
  width: 200px;
  height: 70px;
  display: flex;
  flex-direction: row;
}

.css-icon div:first-child {
  border-color: black;
  border:solid;
  border-width: 10px 20px 10px 10px;
  width: 100%;
  height: 100%;
  border-radius: 10px 0px 20px 20px;
  background-color: blue;
}

.css-icon div:last-child {
  border-color: black;
  border:solid;
  border-width: 10px 10px 10px 20px;
  width: 100%;
  height: 100%;
  border-radius: 0px 10px 20px 20px;
  background-color: red;
} */


.css-begin-area {
  display: flex;
  justify-content: center;
}

.css-begin-button {
  border: 1px solid white;
  padding: 15px;
  color: white;
  text-decoration: none;
}

.css-begin-button:hover {
  background: #232323;
  box-shadow: 0px 0px 2px #d4d4d4;
}


.css-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Anonymous Pro', monospace;
  margin-bottom: 40px;
  padding: 30px 0px 0px;
}


.css-main h1 {
  letter-spacing: 20px;
  text-indent: 20px;
  margin-top: 20px;
}

.css-main h5 {
  margin-top: 10px;
}

.css-blue {
  color: #00acef;
}

.css-grey {
  color: grey;
}

.css-purple {
  color: #d800b4;
}

.f-14 {
  font-size: 14px!important;
}



/* ICON */
.css-icon {
  height: 150px;
  width: 150px;
  position: relative;
  display: flex;
  justify-content: center;
}

.css-icon-s1 {
  width: 75px;
  height: 75px;
  border-right: 4px solid #4a4a4a;
  border-bottom: 4px solid black;
  position: absolute;
  left: 0;
}

.css-icon-s2 {
  width: 75px;
  height: 75px;
  border-left: 4px solid black;
  border-bottom: 4px solid #4a4a4a;
  position: absolute;
  right: 0;
}

.css-icon-s3 {
  width: 75px;
  height: 75px;
  position: absolute;
  right: 0;
  bottom: 0;
  border-left: 4px solid #4a4a4a;
  border-top: 4px solid black;
}

.css-icon-s4 {
  width: 75px;
  height: 75px;
  position: absolute;
  left: 0;
  border-right: 4px solid black;
  border-top: 4px solid #4a4a4a;
  bottom: 0;
}

.css-icon-r0 {
  width: 100%;
  height: 100%;
  border: 6px solid black;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(2px 4px 6px black);
}

.css-icon-r1 {
  width: 90%;
  height: 90%;
  border: 3px solid black;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  /* filter: drop-shadow(2px 4px 6px black); */
}

.css-icon-r1 span {
  font-size: 100px;
  text-shadow:2px 2px #3e3e3e;
  z-index: 10;
  text-indent: 5px;
}

.key-css-hide {
  animation: hideMe 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  -webkit-animation: hideMe 1s 1;
  -webkit-animation-delay: 2s;  
} 

@keyframes hideMe {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(0, 0, 0, 0.137);
  }
  100% {
    background-color: transparent;
  }
}





/* max-width  */
@media screen and (max-width: 600px) {
	/* .um {
		background: #F9C;
	}
	span.lt600 {
		display: inline-block;
	} */
}

/* min-width */
@media screen and (max-width: 800px) {
  .css-left-name, .css-right-name {
    display: none;
  }
  .css-movies-area, .css-area-quest {
    width: 100%;
  }
  .css-area-checkbox {
    flex-direction: column;
  }
  .css-footer div {
    flex-direction: column;
    margin-top: 40px;
  }
  .css-footer a {
    flex-direction: column;
    display:flex;
  }
  .css-footer a:last-child {
    margin-top: 10px;
  }
  .css-quest p,.css-footer a{
    font-size: 1.2rem;
  }
}
